<plist version="1.0">
<dict>
<key>items</key>
<array>
<dict>
<key>assets</key>
<array>
<dict>
<key>kind</key>
<string>software-package</string>
<key>url</key>
<string>https://weplayold.com/apps/azaz.ipa</string>
</dict>
<dict>
<key>kind</key>
<string>full-size-image</string>
<key>needs-shine</key>
<true/>
<key>url</key>
<string>https://tweakdoor.com/nnn/black.jpg</string>
</dict>
<dict>
<key>kind</key>
<string>display-image</string>
<key>needs-shine</key>
<true/>
<key>url</key>
<string>https://tweakdoor.com/nnn/black.jpg</string>
</dict>
</array>
<key>metadata</key>
<dict>
<key>bundle-identifier</key>
<string>com.frontierdesign.videostar</string>
<key>bundle-version</key>
<string>9.9.2</string>
<key>kind</key>
<string>software</string>
<key>subtitle</key>
<string>BSOF Team</string>
<key>title</key>
<string>Video Star old</string>
</dict>
</dict>
</array>
</dict>
</plist>
